:root {
	/* Colors */
	--GreenColor: #1D6154;
	--Browncolor: #93532F;
	--LBrownColor: #B1663C;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

a{
	text-decoration: none;
	color: black;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
	/* font-size: 19px; */
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	/* margin-bottom: 1em; */
}

/* Filtres */
.filters {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 51px auto;
}

.filter__btn {
	height: 37px;
	border-radius: 60px;
	border: 1px solid var(--GreenColor);
	color: var(--GreenColor);
	background-color: white;
	padding: 9px auto;
	min-width: 100px;
	max-width: 198px;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
}  

.filter__btn--active {
	color: white;
	background-color: var(--GreenColor);
}

/* Portfolio */
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* Formulaire de contact*/

#contact {
	width: 50%;
margin: auto;
}

#contact > * {
	text-align: center;

}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}
  
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="submit"]:hover{
	color: var(--GreenColor);
	background-color: white;
	border: 1px solid var(--GreenColor) !important;
	cursor: pointer;
}


/* Footer */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Login page */
.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}

.login a {
	text-decoration: underline;
	margin-bottom: 100px;
	font-size: 19px;
}

.login__form {
	display: flex;
	flex-direction: column;
	width: 26%;
}

.login__form input[type="email"],
.login__form input[type="password"]
 {
	height: 51px;
	flex-shrink: 0;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.login__form label {
	margin: 30px 0 6px;
}

.login__form input[type="submit"] {
	height: 36px;
	width: 179px;
	margin-top: 37px;
}

.getDataError {
	color: red;
	font-weight:700;
	margin-top: 3px;
}

.currentLink {
	font-weight: 700;
}

/* Mode édition */
.edition__mode {
	display: flex;
	column-gap: 10px;
	color: black;
}

.edition__banner {
	/* position: relative;
	left: 0;
	top: 0; */
	/* margin: 0 auto; */

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 59px;

	background-color: black;
}

.edition__banner button{
	font-family: 'work sans';
	font-weight: 550;
	background-color: white;
	border-radius: 60px ;
	padding: 5px 15px;
	margin: 0 25px;
	border: none;
	cursor: pointer;
}

.edition__banner .edition__mode {
	color: white;
}

.portfolio__title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 31px;
}
/*****************************/
/********* MODALES ***********/
/*****************************/
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes slideFromTop {
	from {transform: translateY(-75px);}
	to {transform: translateY(0px);}
}

@keyframes fadeOff {
	from {opacity: 1;}
	to {opacity: 0;}
}
@keyframes slideFromBottom {
	from {transform: translateY(0px);}
	to {transform: translateY(75px);}
}

/* Modale galerie photo */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadeIn 0.3s both;
}

.modal h2 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	color: #000000;
	margin-top: 20px;
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: center;
	padding: 30px;
	/* position: sticky; */
	overflow: auto;
	/* width: 44%; */
	width: 630px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	background-color: white;
	border-radius: 10px;
	/* animation: slideFromTop 0.3s both; */
	box-sizing: border-box;
}

.modal-wrapper h2{
	display: flex;
	justify-content: center;
	margin: 60px 0 46px 0;
}

.js-modal-close {
	/* width: 100%; */
	display: flex;
	justify-content: flex-end;
}

.fa-xmark {
	font-size: 20px;
	cursor: pointer;
}

.js-projects-admin {
	width: 68%;
	margin: 10px auto;
	display: grid;
	/* grid-template-columns: repeat(5, 1fr); */
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: 6px;
	grid-row-gap: 24px;
}



.js-project-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
	position: relative;
}

.js-project-div img {
	/* width: 100%; */
	/* height: 104px; */
	margin: auto;
	flex: 1;
	object-fit: cover !important;
	box-sizing: border-box;	
}

.js-trash-div {
	display: flex;
	box-sizing: border-box;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 19px;
	height: 19px;
	background: #000000;
	border-radius: 2px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.fa-trash-can {
	color: white;
	margin: auto
}



.open-projectModal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 237px;
	height: 36px;
	flex-shrink: 0;
	margin: 0px auto 20px auto;
	background: #1D6154;
	border-radius: 60px;
	border: none;
	color: white;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;	
}

.project-modal-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 630px;
	height: 670px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	position: sticky;
}

.modal-project-logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-project-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-photo-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #E8F1F7;
	width: 500px;
	height: 200px;
	border-radius: 10px;
}

.form-photo-container i {
	color: #306685;
	font-size: 90px;
	font-weight: 100;
	margin: 20px;
	margin-top: -25px;
}

.form-photo-container input {
	display: none;
}

.form-photo-container label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
	background-color: #CBD6DC;
	border-radius: 50px;
	margin-top: -10px;	
	font-family: 'work sans';
	color: #306685;
	cursor: pointer;
}








